<div id="content">
  <img src="/images/labels/ttt_title.png" alt="TTT Title"/>
  <form method='POST' action='/game/start'>
    <p>
      <label for="board">
        <img src="/images/labels/board_type.png" alt="Board Type"/>
      </label>
      <select name="board" id="board" size="2">
        <%= options_for_board.html_safe %>
      </select>
    </p>
    <p>
      <label for="player_o">
        <img src="/images/labels/player_o.png" alt="Player O"/>
      </label>
      <select name="player_o" id="player_o" size="4">
        <%= options_for_player(TTT_CONFIG[:players][TTT_CONFIG[:players].keys.first][:value]).html_safe %>
      </select>
    </p>
    <p>
      <label for="player_x">
        <img src="/images/labels/player_x.png" alt="Player X"/>
      </label>
      <select name="player_x" id="player_x" size="4">
        <%= options_for_player(TTT_CONFIG[:players][TTT_CONFIG[:players].keys.last][:value]).html_safe %>
      </select>
    </p>
    <p id="button">
      <input type="submit" value="Start Game" />
    </p>
  </form>
</div>
