<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>WEBrick Tic Tac Toe</title>
  <script type="text/javascript" src="javascript/ttt.js"></script>
  <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>
  <div id="content">
    <img src="images/labels/ttt_title.png" alt="TTT Title"/>
    <form method='POST' action='/new'>
      <p>
        <label for="board">
          <img src="images/labels/board_type.png" alt="Board Type"/>
        </label>
        <select name="board" id="board" size="2">
          <%= options_for_board %>
        </select>
      </p>
      <p>
        <label for="player_o">
          <img src="images/labels/player_o.png" alt="Player O"/>
        </label>
        <select name="player_o" id="player_o" size="4">
          <%= options_for_player(@player_selection_o) %>
        </select>
      </p>
      <p>
        <label for="player_x">
          <img src="images/labels/player_x.png" alt="Player X"/>
        </label>
        <select name="player_x" id="player_x" size="4">
          <%= options_for_player(@player_selection_x) %>
        </select>
      </p>
      <p id="button">
        <input type="submit" value="Start Game" />
      </p>
    </form>
  </div>
</body>
</html>
