<head>
  <title><%= title %></title>
</head>
<body>
<center>
<h1 style="font-family:helvetica">Tic Tac Toe!</h1>
<hr />
<h1>
<p style="font-family:courier;font-size:50px">
  <%= get_board %>
</p>
</h1>
</center>
</body>