<head>
  <title><%= title %></title>
</head>
<body>
<center>
<h1 style="font-family:helvetica">Tic Tac Toe!</h1>
<hr />
<form method='POST' action='/new'>
<h1>
<p style="font-family:courier;font-size:50px">
 O | X | O  <br />
---+---+--- <br />
 X | O | X  <br />
---+---+--- <br />
 X | O | X  <br />
</p>
</h1>
</form>
</center>
</body>